@import url(./fields/index.css);

form {
  margin-top: 3rem;
}

fieldset {
  border: none;
  display: grid;
  gap: 2rem;
}

legend {
  font: 600 1.6rem/1.25 var(--font-family);
  margin-bottom: 2rem;
}

fieldset + fieldset {
  margin-top: 3rem;
}

.actions-wrapper {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}